# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc

# Media files
media/

# Local development settings
.env
.env.*

# macOS hidden files
.DS_Store

# Backup files
*.bak

# VSCode and other IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

#extra files
mydb.py
rps_arena/migrations
