<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Room</title>
</head>
<body>
    <div class="user-name">
        {% if user.is_authenticated %}
        {{ user.username }}
        {% endif %}
    </div>
    <button class="rock-button">
        <img src="https://img.icons8.com/ios/50/angry-fist--v1.png" alt="angry-fist--v1"/>
    </button>
    <button class="paper-button">
        <img src="https://img.icons8.com/ios-filled/50/so-so.png" alt="so-so"/>
    </button>
    <button class="scissors-button">
        <img src="https://img.icons8.com/ios/50/hand-peace--v1.png" alt="hand-peace--v1"/>
    </button>
    <div class="your-choice"></div>
    <div class="opponent-choice"></div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const gameSocket = new WebSocket(
            (window.location.protocol === 'https:' ? 'wss://' : 'ws://')
            + window.location.host
            + '/ws/game/'
            + roomName
            + '/'
        );

        gameSocket.onopen = function () {
            console.log("WebSocket connection established");
        };

        gameSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log("Message received:", data.message); // Debugging line
            document.querySelector(".your-choice").innerHTML = data.message;
        };

        gameSocket.onclose = function () {
            console.log("WebSocket connection closed");
        };

        function sendChoice(choice) {
            if (gameSocket.readyState === WebSocket.OPEN) {
                gameSocket.send(JSON.stringify({ 'message': choice }));
                console.log("Choice sent:", choice); // Debugging line
            } else {
                console.error("WebSocket connection not open");
            }
        }

        document.querySelector('.rock-button').addEventListener('click', () => sendChoice('rock'));
        document.querySelector('.paper-button').addEventListener('click', () => sendChoice('paper'));
        document.querySelector('.scissors-button').addEventListener('click', () => sendChoice('scissors'));
    </script>
</body>
</html>
