{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <div class="body-text">Welcome to The Game of Rock Paper Scissors</div>
    {% if user.is_authenticated %}
    <div class="body-text">Hello, {{ user.first_name }} {{ user.last_name }}</div>
    <div class="body-text">Click Play to Start the Game</div>

    <button class="start-button"><span class="material-symbols-outlined">play_arrow</span>Start</button>
</div>
{% else %}
    <div class="body-text">Go and get <a class="login-link" href="{% url 'login' %}">login</a> to get Started</div>
{% endif %}

<script>
    document.querySelector(".start-button").addEventListener('click', () => {
        window.location.href = "{% url 'game' %}";
    })
</script>

{% endblock %}
