{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-heading">Profile</h1>
    <div class="profile-stats">
        <div class="stat-row">
            <span class="field">Name:</span>
            <span class="value">{{ user_obj.user.username }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Matches Played:</span>
            <span class="value">{{ user_obj.matches_played }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Won:</span>
            <span class="value">{{ user_obj.wins }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Lost:</span>
            <span class="value">{{ user_obj.losses }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Draw:</span>
            <span class="value">{{ user_obj.draws }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Points:</span>
            <span class="value">{{ user_obj.points }}</span>
        </div>
        <div class="stat-row">
            <span class="field">Rank:</span>
            <span class="value">{{ user_rank }}</span>
        </div>
    </div>
</div>

<script>

</script>
{% endblock %}
